<form [formGroup]="siteForm" (ngSubmit)="submit()">
  <div class="row d-flex justify-content-between">
    <ng-container *ngFor="let attr of headers; let i = index" class="pb-2 ">
     <div class="col-md-5 my-3 px-0 form-check">
        <div class="card-header">
            {{ attributes[i].presentation.label }}
            <span *ngIf="attributes[i].minCardinality > 0">*</span>
            <fa-icon class="float-right" tooltip="{{ attributes[i].presentation.description }}" [icon]="faInfoCircle"></fa-icon>
            <input *ngIf="attributes[i].dataType === 'STRING' || attributes[i].dataType === 'DATE'" type="text" [id]="attr" class="form-control" [formControlName]="attr">
            <input *ngIf="attributes[i].dataType === 'INTEGER' || attributes[i].dataType === 'FLOAT'" type="number" [id]="attr" class="form-control" [formControlName]="attr">
            <input *ngIf="attributes[i].dataType === 'BOOLEAN'" type="checkbox" [id]="attr" [formControlName]="attr">
        </div>
     </div>
    </ng-container>
  </div>

  <div class="row">
    <div class="col-md-6 my-3 px-0">
      <button class="btn btn-success" type="submit" [disabled]="!siteForm.valid">
        Save
      </button>
    </div>
  </div>
</form>
