<nav aria-label="breadcrumb">
  <ol class="breadcrumb bg-dark">
    <li class="breadcrumb-item"><a href="#" class="text-light">Home</a></li>
  </ol>
</nav>

<div class="container py-5">
  <h5 class="text-center">Overview</h5>
  <table class="table table-hover m-auto">
    <thead>
      <tr>
        <th *ngFor="let header of tableHeaders; let i = index" scope="col">
          {{ header.presentation.label }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of (sites | async).sites; let j = index" (click)="onClickDetail(data)">
        <ng-container *ngFor="let header of tableHeaders; let i = index">

          <td *ngIf="header.dataType == 'STRING'">
            {{ data[header.name] }}
            <ng-container *ngIf="data[header.name] && header.presentation.unitOfMeasure">
              [{{ header.presentation.unitOfMeasure }}]
            </ng-container>
          </td>


          <td *ngIf="header.dataType == 'INTEGER'">
            {{ data[header.name] }}
            <ng-container *ngIf="data[header.name] && header.presentation.unitOfMeasure">
              [{{ header.presentation.unitOfMeasure }}]
            </ng-container>
          </td>
          <td *ngIf="header.dataType == 'FLOAT'">
            {{
              data[header.name] ? (data[header.name] | number: "1.0-3") : null
            }}
            <ng-container *ngIf="data[header.name] && header.presentation.unitOfMeasure">
              [{{ header.presentation.unitOfMeasure }}]
            </ng-container>
          </td>
          <td *ngIf="header.dataType == 'DATE'">
            {{ data[header.name] | date: "yyyy-MM-dd" }}
            <ng-container *ngIf="data[header.name] && header.presentation.unitOfMeasure">
              [{{ header.presentation.unitOfMeasure }}]
            </ng-container>
          </td>
          <td *ngIf="header.dataType == 'BOOLEAN'" >
            <fa-icon *ngIf="data[header.name] === true" [icon]="faCheck">
            </fa-icon>
          </td>
        </ng-container>
      </tr>
    </tbody>
  </table>

  <div class="row">
    <div class="col">
      <button class="btn btn-info float-right m-4" (click)="onNew()">New</button>
    </div>
  </div>

</div>
